<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>author_db</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .dark-mode
    {
        background-color: #282828;
    }
</style>
    <script>

       

       

    </script>
<center>
<body>
    <script src="{{ url_for('static',filename='js/darkmode.js') }}"></script>
    {% if not is_named_in %}
    <form action="/authordb" method="POST">
        <input type="text" name="author_name" autofocus placeholder="Author Name" required>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    {% if is_named_in %}
        <img src="https://lh3.googleusercontent.com/proxy/kbDZAGHdfaOGJ4K_QPKRnaGLIfeZY4WTSDFhK7sHgKWYKv5DxocGIGc-nLGRbSSUniiIsV_tRoUP99gLFwyhR2tFG8DiwiL_TQI9" width="12%"
            height="20%" alt="author profile">
        <h1>{{author_name}}</h1>
        <br>
    <hr style="border-top: 1px dashed black;">

    <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <hr style="border-top: 1px dashed black;">
    <br>
    <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <hr style="border-top: 1px dashed black;">
    <br>
    <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <br>
    <hr style="border-top: 1px dashed black;">
    <table>
        <tr>
            <th>Book Preview</th>
            <th>Book Title</th>
            <th>Publisher</th>
            <th>Publishing date</th>
            <th>Average rating</th>
            <th>Max Rating</th>
            <th>Min Rating</th>
            <th>Location Of Readers</th>
        </tr>
        {% for book_detail in books_details %}
        <tr>
            <td><img src="{{book_detail['book_image']}}" alt="Preview Unavailable"></td>
            <td>{{book_detail['title']}}</td>
            <td>{{book_detail['publisher']}}</td>
            <td>{{book_detail['pub_date']}}</td>
            {% if book_detail['avg_rating'] != -1 %}
            <td>{{book_detail['avg_rating']}}</td>
            <td>{{book_detail['max_rating']}}</td>
            <td>{{book_detail['min_rating']}}</td>
            {% else %}
            <td>Not Rated Yet</td>
            <td>Not Rated Yet</td>
            <td>Not Rated Yet</td>
            {% endif %}
            <td>
            
                <ul>
                    <li>
                        {% for location in book_detail['locations'] %}
                                {{location}}
                        {% endfor %}
                    </li>
                </ul>
            </td>
            

        </tr>
        {% endfor %}
    </table>
    {% endif %}


    
</body>
</center>

</html>
